@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem;
  }
}
/* Global styles */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout {
  @apply box-border px-3 pt-[103px] pb-[106px] w-full laptop:max-w-[1300px] tablet:max-w-[960px] mobile:max-w-[720px] sm-mobile:max-w-[540px];
}
select {
  -webkit-appearance: none; /* 크롬 화살표 없애기 */
  -moz-appearance: none; /* 파이어폭스 화살표 없애기 */
  appearance: none; /* 화살표 없애기 */
}

/* study detail 만 list-style 적용(StudyDetailListWrap) */
.study-detail {
  list-style: disc;
  padding-left: 40px;
}

.select_renewal {
  background: url(/icon/chevron-down.png) no-repeat 92% 50%;
  background-size: 21px 18px; /* 원하는 크기로 조절 */
}
