@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem;
    --header-z-index: 9;
    --modal-z-index: 10;
    --sidebar-z-index: 10;
    --chat-z-index: 10;
  }
}

html {
  scroll-behavior: smooth;
}
/* Global styles */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout {
  @apply box-border px-3 pt-[80px] pb-[106px] w-full laptop:max-w-[1300px] tablet:max-w-[960px] mobile:max-w-[720px] sm-mobile:max-w-[540px];
}
select {
  -webkit-appearance: none; /* 크롬 화살표 없애기 */
  -moz-appearance: none; /* 파이어폭스 화살표 없애기 */
  appearance: none; /* 화살표 없애기 */
}

/* study detail 만 list-style 적용(StudyDetailListWrap) */
.study-detail {
  list-style: disc;
  padding-left: 20px;
}

.select_renewal {
  background: url(/icon/chevron-down.png) no-repeat 92% 50%;
  background-size: 21px 18px; /* 원하는 크기로 조절 */
}
.header {
  z-index: var(--header-z-index);
}
.modal {
  z-index: var(--modal-z-index);
}

.chat {
  z-index: var(--modal-z-index);
}
.sidebar {
  z-index: var(--sidebar-z-index);
}

/* md file parsing 스타일 적용 */
.prose-sm h1,
.prose-sm h2,
.prose-sm img,
.prose-sm p {
  margin-top: 5px;
  margin-bottom: 5px;
}
.prose-sm ul {
  margin-top: 2px;
  margin-bottom: 2px;
}
